<li><%= link_to 'Action',:controller => "games",:action => "browse_by_category",:category => Category.find_by_name("Action")%></li>
<li><%= link_to 'Adventure',:controller => "games",:action => "browse_by_category",:category => Category.find_by_name("Adventure") %></li>
<li><%= link_to 'Simulation',  :controller => "games",:action => "browse_by_category",:category => Category.find_by_name("Simulation") %></li>
<li><%= link_to 'Role Playing',  :controller => "games",:action => "browse_by_category",:category => Category.find_by_name("Role Playing")%></li>
<li><%= link_to 'Strategy',:controller => "games",:action => "browse_by_category",:category => Category.find_by_name("Strategy") %></li>
					