<div class="one_col">
  <div id="games_listing">
    <p>Account Details</p>
  </div>
  <% @user.password = @user.password_confirmation = nil %>
  <div class="one_col_top">&nbsp;</div>
  <div class="one_col_content">
     <div id="confirmation">
    <div id="presonal_details">
  		<p><label>Name:</label>  <%=@user.name%> </p>
  		<p>	<label>Phone:</label> <%=@user.phone%></p>
  		<p><label>Email:</label> <%=@user.email%></p>
  		<p id="id_token"><label>Identification token:</label> <%=@user.identification_token%></p>
  		</div>
  	</div>
    <div id="new_pass_form">
      
      <% form_for @user, :url => "/change_password", :method => :put do |f| %>
      <span class="game_platform"></span>
      <%= f.error_messages %>
      <p>
        <%= label_tag 'current password' %>
        <%= password_field_tag :old_password, @old_password %>
      </p>
      <p>
        <%= label_tag 'new password' %>
        <%= f.password_field :password %>
        <%=render :partial => 'min_pass_text'%>
      </p>
      <p>
        <%= label_tag 'password_confirmation', 'Confirm Password' %>
        <%= f.password_field :password_confirmation %>
        <%=render :partial => 'min_pass_text'%>
      </p>
      <p><%= f.submit 'Save changes' %></p>
      <% end %>
    </div>
  </div>   
  <div class="one_col_bottom">&nbsp;</div>
</div>