<% for gameuser in @games %>
  <h2 style="font-size:x-large;">
    <%= link_to h(gameuser.name), game_path(gameuser)%></h2>
	<%= render :partial=> "admin/games/game_desc",:locals => {:game => gameuser, :len => 35}%>
		<p class ="category_platform">Age Category: <%= h AgeCategory.find_by_id(gameuser.age_category_id).name %></p>
		<p class ="category_platform">Categories: <%= gameuser.find_categories %></p>
		<p class = "category_platform">Platform:<%=h Platform.find_by_id(gameuser.platform_id).name%>
<%end%>
<%= will_paginate @games %>